<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

<head>
    <meta charset="UTF-8" />
    <title>Information sur votre Bar</title>
</head>
<body>
<th:block th:insert="fragments.html :: axios"> </th:block>

<header th:insert="fragments.html :: header (title = 'Information sur votre Bar')"></header>
<div>
    <h2 th:utext="${bar.name}"></h2>
    <a th:href="@{/reservation/newreservation?barid={id}&barname={name}(id=${bar.id}, name=${bar.name})}"><button>Reserver</button></a>
    <table>
        <thead>
            <tr>
                <th>Catégorie</th>
                <th>Spécialité</th>
                <th>Adresse</th>
                <th>téléphone</th>
                <th>site Web</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${bar.category}"></td>
                <td th:text="${bar.speciality}"></td>
                <td th:text="${bar.address} + ' ' + ${bar.postcode} + ' ' + ${bar.city}"></td>
                <td th:text="${bar.phone}"></td>
                <td th:text="${bar.website}"></td>
                <td th:text="${bar.email}"></td>
            </tr>
        </tbody>
    </table>
    <div>
        <h3>La carte des cocktails</h3>
        <ul style="display: grid; grid-template-columns: repeat(3, 1fr)">
            <li th:each ="cocktail : ${bar.cocktails}" >
                <a th:href="@{/cocktail/{cocktailId}?bar={barId}(cocktailId=${cocktail.idDrink}, barId=${bar.id})}" th:utext="${cocktail.strDrink}"></a>
                <img th:src="${cocktail.strDrinkThumb} + '/preview'" style="display: block"/>
            </li>
        </ul>
    </div>
</div>
<hr>
<div>
    <h3 th:if="${previousCocktailSearch}"><a th:href="@{/cocktailForm/?search={previousCocktailSearch}(previousCocktailSearch=${previousCocktailSearch})}">Retour</a></h3>
    <h3 th:if="${previousBarSearch}"><a th:href="@{/nameForm/?search={previousBarSearch}(previousBarSearch=${previousBarSearch})}">Retour</a></h3>
    <h3 th:if="${noPreviousSearch}"><a th:href="@{/}">Accueil</a></h3>
</div>
<footer th:insert="fragments.html :: footer"> </footer>
<th:block th:insert="fragments.html :: scriptLogin"> </th:block>
</body>

</html>
