<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

<head>
    <meta charset="UTF-8" />
    <title>Trouver votre Bar</title>
</head>
<body>
    <header th:insert="fragments.html :: header (title = 'Trouver votre Bar')"></header>
    <h2>Saisir votre cocktail</h2>
    <form action="#" th:action="@{/findbar}" th:method="post" th:object="${cocktail}">
        <input type="text" placeholder="Nom du cocktail" th:field="*{strDrink}"/>
        <input type="submit" name="find" value="Trouver"/>
    </form>
    <div th:if="${!bars.isEmpty()}">
        <hr/>
        <h2>Liste des bars ayant votre cocktail</h2>
        <ul th:each ="bar : ${bars}">
            <li><a th:href="@{/findbar/bar/{id}(id=${bar.id})}" th:utext="${bar.name}"></a></li>
        </ul>
    </div>
    <footer th:insert="fragments.html :: footer"> </footer>
</body>

</html>