<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

<head>
    <meta charset="UTF-8" />
    <title>Trouver votre Bar</title>
</head>
<body>
<header th:insert="fragments.html :: header (title = 'Trouver votre Bar')"></header>
<h2>Saisir un nom</h2>
<form action="#" th:action="@{/nameForm}" th:method="post" th:object="${bar}">
    <input type="text" th:placeholder="${previousBarSearch} ?: 'Nom du bar'" th:field="*{name}"/>
    <input type="submit" name="find" value="Trouver"/>
</form>
<div th:if="${!bars.isEmpty()}">
    <hr/>
    <h2>Liste des bars correspondant</h2>
    <ul>
        <li th:each ="b : ${bars}">
            <a th:href="@{/bar/{id}?previousBarSearch={inputValue}(id=${b.id}, inputValue=${previousBarSearch})}" th:utext="${b.name}"></a>
        </li>
    </ul>
</div>
<div th:if="${message}">
    <hr/>
    <p th:text="${message}"></p>
</div>
<footer th:insert="fragments.html :: footer"> </footer>
</body>

</html>