<!DOCTYPE html>
<<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
    <div th:fragment="header(title)" style="padding-bottom:20px; width: 100%; display: grid;
                                            grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(2, auto);">
        <h1 style="text-align: left; grid-column: 1; grid-row: 1;" th:utext="${title}"></h1>

        <form id="loginForm" style="display: flex; justify-content: center; align-items: center; grid-column: 2; grid-row: 1;">
            <div>
                <label for="login">Login</label>
                <input id="login" />
            </div>
            <div>
                <label for="password">Mot de passe</label>
                <input id="password"/>
            </div>
            <button id="submitLoginForm" style="font-weight: 900; color: #fff; margin-top: 26px" type="submit">🏹</button>
        </form>
        <p class="errorMessage" style="display: none; color: red; font-size: .8em; width: 100%; text-align: right; grid-column: 2; grid-row: 2;">
            Login ou Mot de Passe incorrect
        </p>
        <p class="userName" style="display: none; text-align: right; grid-column: 2; grid-row: 1;"></p>

        <script>
            const userDTOJSONNoForm = localStorage.getItem("userDTO");

            if(!!userDTOJSONNoForm) {
                const userDTO = JSON.parse(userDTOJSONNoForm);

                console.log("userDTO  -> ", userDTO);

                document.querySelector("#loginForm").style.display = "none";
                document.querySelector(".errorMessage").style.display = "none";
                document.querySelector(".userName").textContent = `👤 ${userDTO.login}`;
                document.querySelector(".userName").style.display = "block";

                const linkYourReservationsEl = document.querySelector(".linkYourReservations")
                if(!!linkYourReservationsEl) linkYourReservationsEl.style.display = "block";
            }
        </script>
    </div>

    <div th:fragment="footer" style="padding-top:30px; margin:auto; max-width:fit-content">
        <p>CEFIM - LES PATATES MAISON</p>
        <a th:href="@{/}">Accueil</a>
    </div>

    <script th:fragment="axios" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script th:fragment="scriptLogin">
        const baseLoginUrl = "[[${@environment.getProperty('msreservation.url.user.login')}]]";

        document.querySelector("#loginForm").addEventListener("submit", (e) => {
            e.preventDefault();
            const login = document.querySelector("#login").value;
            const password = document.querySelector("#password").value;
            const authentication = { login, password };

            axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*';
            axios.post(baseLoginUrl, authentication)
            .then(({ data, status, statusText }) => {
                document.querySelector("#loginForm").style.display = "none";
                document.querySelector(".errorMessage").style.display = "none";
                document.querySelector(".userName").textContent = `👤 ${data.login}`;
                document.querySelector(".userName").style.display = "block";
                localStorage.setItem("userDTO", JSON.stringify(data));

                const linkYourReservationsEl = document.querySelector(".linkYourReservations")
                if(!!linkYourReservationsEl) linkYourReservationsEl.style.display = "block";

                const linkReservationUserId = document.querySelector(".reservationUserId");
                const reservationSubmit = document.querySelector(".reservationSubmit");

                if(!!linkReservationUserId && !!reservationSubmit) {
                    linkReservationUserId.value = data.id;
                    reservationSubmit.disabled = false;
                }

                const linkYourReservations = document.querySelector(".linkYourReservations");
                if(!!linkYourReservations) {
                    linkYourReservations.style.display = "block";
                    linkYourReservations.href += data.id;
                }

            })
            .catch(error => {
                        if (error.message.includes('401') || error.message.includes('404')) {
                            console.error("Login ou Mot de Passe incorrect");
                            document.querySelector(".errorMessage").style.display = "block";
                        }
                    }
                );
        })
    </script>
</body>
</html>
