<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

<head>
    <meta charset="UTF-8" />
    <title>Information sur votre Bar</title>
</head>
<body>
<th:block th:insert="fragments.html :: axios"> </th:block>

<header th:insert="fragments.html :: header (title = 'Où sortir ce soir ?')"></header>

<div>
    <h2>Rechercher un bar par</h2>
    <a th:href="@{/nameForm}"><button>Nom</button></a>
    <a th:href="@{/cocktailForm}"><button>Cocktail</button></a>
</div>
<hr>
<div>
    <a class="linkYourReservations" th:href="@{/reservation/list/}">Voir vos réservations</a>
</div>

<footer th:insert="fragments.html :: footer"> </footer>

<th:block th:insert="fragments.html :: scriptLogin"> </th:block>

<script>
    const userDTOJSONHome = localStorage.getItem("userDTO");
    const linkYourReservations = document.querySelector(".linkYourReservations");

    if(!!userDTOJSONHome) {
        const userDTO = JSON.parse(userDTOJSONHome);

        linkYourReservations.style.display = "block";
        linkYourReservations.href += userDTO.id;

    } else {
        document.querySelector(".linkYourReservations").style.display = "none";
    }
</script>
</body>

</html>
