<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

<head>
    <meta charset="UTF-8" />
    <title>Réserver votre Bar</title>
</head>
<body>
    <th:block th:insert="fragments.html :: axios"> </th:block>

    <header th:insert="fragments.html :: header (title = 'Faire une réservation dans votre Bar')"></header>

    <h2>Réserver chez <span th:utext="${bar.name}"></span></h2>

    <form class="reservationForm" action="#" th:action="@{/reservation/savereservation}" th:method="post">
        <input type="hidden" name="barId" th:value="${bar.id}"/>
        <input type="hidden" name="barName" th:value="${bar.name}"/>
        <input class="reservationUserId" type="hidden" name="userId" th:value=""/>
        <input type="datetime-local" placeholder="date de la réservation" name="dateTime"/>
        <input type="number" min="1" placeholder="Nombre de personnes" name="nbPerson"/>
        <input class="reservationSubmit" type="submit" name="save" value="Enregistrer"/>
    </form>
    <footer th:insert="fragments.html :: footer"> </footer>

    <script>
        const userDTOJSONReservation = localStorage.getItem("userDTO");
        const linkReservationUserId = document.querySelector(".reservationUserId");
        const reservationSubmit = document.querySelector(".reservationSubmit");

        if(!!userDTOJSONReservation) {
            const userDTO = JSON.parse(userDTOJSONReservation);
            linkReservationUserId.value = userDTO.id;
            reservationSubmit.disabled = false;

        } else {
            reservationSubmit.disabled = true;
        }
    </script>

    <th:block th:insert="fragments.html :: scriptLogin"> </th:block>
</body>

</html>
